@import '../../assets/scss/variables.scss';

.operations {

    max-width: 1920px;
    margin: 0 auto;

    &__list {
        padding: 0;
        width: 90%;
        margin: 0 auto;
    }

    &__add-button {
        position: absolute;
        right: 30px;
        bottom: 100px;
        fill: $primaryColor;
        font-size: 50px;
        cursor: pointer;
    }
}